.calendar {
    position: relative;
}

ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    padding-bottom: 1rem;
}

.month {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

.week-days,
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.week-days {
    color: var(--gray-light);
    font-size: 1.1rem;
    background-color: var(--white);
    text-transform: capitalize;

    .no-border & {
        border-bottom: var(--day-border-width) solid var(--grey-300);
    }
}

.days {
    height: 100%;
    position: relative;
    background-color: var(--grey-300);

    :not(.no-border) & {
        grid-column-gap: var(--grid-gap);
        grid-row-gap: var(--grid-gap);
        border: solid 1px var(--grey-200);
    }
}