:root {
    --white: #fff;
    --grey-100: #eeeeee;
    --grey-200: #cfd7e3;
    --grey-300: #ced3d1;
    --grey-400: #b5c0cd;
    --grey-500: #9f9f9f;
    --grey-800: #3e4e63;
    --gray-light: #a7a7a7;
    --gray-lighter: #424242;
    --gray-dark: #363636;
    --green: #225544;
    --light-green: #3F8C6B;
    --green-off: #e3e9e7;
    --grid-gap: 1px;

    --day-label-size: 2rem;
    --day-border-width: 0.15rem;


    --font-family: "Cabin", sans-serif;
    --font-size-body: 1rem;
    --line-height-body: 1.5;
}